.favorites-list {
  padding:10px;
  width: 20%;
  min-width: 150px;
  height: 68vh;
  background: #ffffff;
  border: 2px dashed #414141;
  border-radius: 30px;
  margin-right: 7%;

  &-title {
    font-family: "Anek Telugu";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #414141;
  }
}
