.favorite-prod {
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    min-width: 50px;
    max-width: 120px;
  }

  &-details {
  
    width: 50%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #414141;

    &__name {
      text-decoration: none;
      border: none;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      height: 48px;
      -webkit-line-clamp: 2;
    }

    &__price {
      font-weight: bolder;
    }
  }
  &-description {
    display: flex;
    justify-content: space-between;
  }
}
