.productpage {
  display: flex;
  justify-content: center;
  align-items: center;

  

  &-img {    
    width:50%;
    margin-right: 15vh;
  }
  &-name {
    width:100%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 96px;
    color: #414141;
  }

  &-description {
    display: flex;
    justify-content: space-between; 

  &__price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
    color: #414141;
  }}
}

.productpage-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 82px;
  width: 82px;
  background-color: #ffcc26;
  border: none;
  font-size: 64px;

  &__no {
    color: #fbfbfb;
    :hover {
      color: red;
    }
  }
}

.productpage-a {
  width: 50%;
}