* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Anek Telugu', 'Poppins', Sans-Serif;
  background-color: #FBFBFB;
}

.page {
  display: flex;
  flex-direction: column;
}